# Ignore virtual environment
/eeg_tf/ 
# Ignore data 
/data/
# Ignore scripts 
/scripts/
# Ignore vscode settings
/.vscode/
# Ignore figures 
/figs/
# Ignore sbatch files 
.sbatch
# Ignore DS_Store files
.DS_Store
